.barcode-card {
    flex: 0 1 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
}

.barcode-card__instructions {
    text-align: justify;
    padding: 30px;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.barcode-card__image {
    border-radius: 5px;
    margin: 20px;
}

.container {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* p {
    background-color: red;
    width: 24em;
    word-wrap: break-word;   
} */